@import url("https://fonts.googleapis.com/css?family=Poppins: wght@300; 400;500; 600; 700; 800; 900& display=swap");

$bg-color: #081b29;
$second-bg-color: #112e42;
$text-color: #ededed;
$main-color: #ff0000;

$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;
$font-size-logo: 1.6rem;
$font-size-navbar: 1.2rem;
$font-size-normal: 1rem;

$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

$transition-all: all 0.5s ease;
