/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: $transition-all;

  &.sticky {
    background: $second-bg-color;
  }

  .logo {
    position: relative;
    font-size: $font-size-logo;
    color: $text-color;
    font-weight: $font-weight-600;
  }

  .navbar {
    position: relative;

    a {
      font-size: $font-size-navbar;
      color: $text-color;
      font-weight: $font-weight-500;
      margin-left: 3rem;
      transition: 0.3s;

      &:hover,
      &.active {
        color: $main-color;
      }
    }
  }

  #menu-icon {
    position: relative;
    font-size: 2rem;
    color: $text-color;
    cursor: pointer;
    display: none;
  }
}
/* === x === x === x === */
