.skills {
  background: $second-bg-color;

  .heading {
    position: relative;
    font-size: $font-size-h1;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
  }

  h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }

  .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    .skills-column {
      flex: 1 1 46rem;

      .skills-box {
        position: relative;
      }

      .title {
        position: relative;
        display: inline-block;
        font-size: $font-size-h3;
        margin: 0 0 1.5rem;
      }

      .skills-content {
        position: relative;
        border: 0.2rem solid $main-color;
        border-radius: 0.6rem;
        padding: 0.5rem 1.5rem;
        z-index: 1;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: $bg-color;
          z-index: -1;
          transition: $transition-all;
        }

        &:hover::before {
          width: 100%;
        }

        .progress {
          padding: 1rem 0;

          h3 {
            font-size: $font-size-h3;
            display: flex;
            justify-content: space-between;

            span {
              color: $text-color;
            }
          }

          .bar {
            height: 2.5rem;
            border-radius: 0.6rem;
            padding: 0.5rem;
            margin: 1rem 0;
            border: 0.2rem solid $main-color;

            span {
              display: block;
              height: 100%;
              border-radius: 0.3rem;
              background: $main-color;
            }
          }
        }
      }
    }

    &:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
      width: 100%;
    }

    &:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
      width: 85%;
    }

    &:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
      width: 55%;
    }

    &:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
      width: 35%;
    }

    &:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
      width: 45%;
    }

    &:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
      width: 30%;
    }

    &:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
      width: 15%;
    }

    &:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
      width: 35%;
    }
  }
}

/* === x === x === x === */
